print_info() {
    prin "👋 Welcome to Luke's terminal!"
    prin "It's $(date)"

    prin

    prin "$(color 2)─────────$(scutil --get ComputerName)─────────"
    info " Model" model
    info " CPU" cpu
    info " GPU" gpu
    info " Memory" memory
    info " Disk" disk
    info " Battery" battery

    prin "$(color 2)──────────Software───────────"
    info " OS" distro
    info " Kernel" kernel
    info " Shell" shell

    pri
    info " Packages" packages
    info " DE" de
    info " WM" wm
    info " Terminal" term
    info " Terminal Font" term_font
    info cols
}

memory_unit="gib"
shell_path="on"
disk_subtitle="none"

cpu_display="on"
memory_display="on"
battery_display="on"
disk_display="on"