@media (min-width: 1280px) {
	/**
	 * Make the weather detail view and map view take up the remainder of the content.
	 */
	#sticky-bar-context-primary-section > [data-module="five-up-layout"] .Grid-cell:nth-child(2) {
		width: 75% !important;
	}

	/**
	 * Make the towns/cities list take up the full width of the page.
	 */
	#sticky-bar-context-primary-section > [data-module="five-up-layout"] .Grid-cell.u-xl-width9of12 {
		width: 100% !important;
	}

	/**
	 * Making the secondary below-the-fold container wider in its parent flex container causes the sidebar to shrink.
	 * Prevent this.
	 */
	.Sidebar-wrapper {
		flex-shrink: 0;
	}

	/**
	 * Make secondary below-the-fold content take up the full width of space once an ad is removed. This is defined as
	 * 100% of the containing element's vertical width, which, given we're in a flex container, is easily solved.
	 *
	 * Also, set a maximum width so the content doesn't get too big.
	 */
	.Grid-cell.u-xl-width7of12 {
		flex: 100% !important;
		max-width: 60em;
		margin: auto;
	}
}